{% extends 'layout/manage.html' %}

{% block title %}
    FastWork 系统设置-项目设置
{% endblock %}

{% block css %}
    <style>
        .choose {
            border-left: 2px solid #f90 !important;
        }

        .user-item .title {
            margin-bottom: 20px;
        }

        .user-item .avatar, .top-10 .avatar {
            float: left;
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #304659;
            color: white;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
        }

        .user-item .text {
            line-height: 30px;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:transparent;font-weight: bold;">
                    个人中心
                </div>
                <div class="list-group" style="border-radius: 0">
                    <div>
                        <a href="{% url 'web:invite_register' project_id=request.tracer.project.id %}"
                           class="list-group-item">邀请注册</a>
                        <a href="{% url 'web:changepwd'  project_id=request.tracer.project.id %}"
                           class="list-group-item">修改密码</a>
                        <a href="{% url 'web:project_backup' project_id=request.tracer.project.id %}"
                           class="list-group-item">打包项目</a>
                        {% if request.tracer.user.username == request.tracer.project.creator.username %}
                            <a href="{% url 'web:project_users_unbind' project_id=request.tracer.project.id %}"
                               class="list-group-item choose">项目设置</a>
                            <a href="{% url 'web:settings_delete'  project_id=request.tracer.project.id %}"
                           class="list-group-item">删除项目</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog" aria-hidden="true"></i> 项目设置</div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                项目成员
                            </div>
                            <div class="panel-body user-item">
                                <div class="col-sm-12 title">创建者</div>
                                <div class="clearfix" style="margin-bottom: 30px;">
                                    <div class="col-sm-4">
                                        <div class="avatar">{{ request.tracer.project.creator.username.0|upper }}</div>
                                        <div class="text">{{ request.tracer.project.creator.username }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 title">参与者</div>
                                <div>
                                    {% for item in user_list %}
                                        <div class="col-sm-4">
                                            <div class="avatar">{{ item.user__username.0|upper }}</div>
                                            <div class="text">{{ item.user__username }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                项目详情
                            </div>
                            <div class="panel-body user-item">
                                <table class="table table-hover table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="label-left">项目名称 ：</td>
                                        <td><strong>{{ request.tracer.project.name }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="label-left">项目描述 ：</td>
                                        <td><strong>{{ request.tracer.project.desc }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="label-left">创建时间 ：</td>
                                        <td><strong>{{ request.tracer.project.create_datetime }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="label-left">创&nbsp;&nbsp;建&nbsp;&nbsp;人：</td>
                                        <td><strong>{{ request.tracer.project.creator.username }}</strong></td>
                                    </tr>
                                    {#                            <tr>#}
                                    {#                                <td class="label-left">项目空间 ：</td>#}
                                    {#                                <td> {% user_space request.tracer.project.use_space %}#}
                                    {#                                    / 5 GB#}
                                    {#                                </td>#}
                                    {#                            </tr>#}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal111"
                    data-whatever="@mdo" style="background-color: #499ef3;border: none">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> 解绑成员
            </button>
            <div class="modal fade" id="exampleModal111" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">解绑项目参与用户</h4>
                        </div>
                        <div class="modal-body">
                            <label for="" class="control-label">选择解绑用户:</label>
                            <select id="userSelect" class="form-control" aria-label="" multiple>
                                {% for user in user_list %}
                                    <option value="{{ user.user__username }}">{{ user.user__username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary" id="unbind_button"
                                    style="background-color: #499ef3">确定解绑
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo" style="background-color: #499ef3;border: none;float: right">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改项目
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">修改项目</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">项目名称:</label>
                                    <input type="text" class="form-control" id="recipient-name"
                                           value="{{ request.tracer.project.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">项目描述:</label>
                                    <textarea class="form-control"
                                              id="message-text">{{ request.tracer.project.desc }}</textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary" id="ensure_modify_button"
                                    style="background-color: #499ef3">确定修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        //取消用户参与
        $("#unbind_button").click(function (data) {
            selectObj = document.getElementById("userSelect");
            var users = getMultiple(selectObj);

            if (users == '') {
                alert("请先选择需要解绑的用户")
                return false;
            }

            $.ajax({
                url: "{% url 'web:project_users_unbind' project_id=request.tracer.project.id %}",
                type: "POST",
                dataType: "json",
                data: {
                    "users": JSON.stringify(users),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.status == 200) {
                        window.location.href = "{% url 'web:project_users_unbind' project_id=request.tracer.project.id  %}"
                    }
                }
            })
        })

        function getMultiple(obj) {
            var arr = [];
            var options = obj.options;
            while (obj.selectedIndex != -1) {
                arr.push(options[obj.selectedIndex].value);
                options[obj.selectedIndex].selected = false;
            }
            return arr;
        };


        //修改项目
        $("#ensure_modify_button").click(function (data) {

            var project_name = $("#recipient-name").val();
            var project_desc = $("#message-text").val();

            $.ajax({
                url: "{% url 'web:project_modify' project_id=request.tracer.project.id %}",
                type: "POST",
                dataType: "json",
                data: {
                    "project_name": project_name,
                    "project_desc": project_desc,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    window.location.href = "{% url 'web:project_users_unbind' project_id=request.tracer.project.id  %}"
                }
            })
        })
    </script>
{% endblock %}