{% extends 'base/site-base.html' %}
{% block css %}
    <style>
        .content {
            height: calc(100vh - 120px);
            overflow: scroll;
            margin-left: -1px;
        }
    </style>
{% endblock %}

{% block title %}
    FastWork - 用户登录日志中心
{% endblock %}

{% block content %}
    <div class="container-fluid content" style="margin-top: 20px">

        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="{% url 'project:list' %}" style="color: #337ab7">项目大厅</a></li>
                    <li><a href="{% url 'journal:journal-logs_management' %}?project_id={{ request.tracer.project.id }}"
                           style="color: #337ab7">日志中心</a></li>
                    <li class="active">用户登录日志中心</li>
                </ol>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: -20px">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">序号</th>
                        <th scope="col">用户名</th>
                        <th scope="col">登录时间</th>
                        <th scope="col">是否管理员</th>
                        <th scope="col">邮箱</th>
                        <th scope="col">登录结果</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_login_obj in user_login_objs %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ user_login_obj.username }}</td>
                            <td>{{ user_login_obj.last_login }}</td>
                            <td>{{ user_login_obj.is_superuser }}</td>
                            <td>{{ user_login_obj.email }}</td>
                            {% if user_login_obj.isSuccess == "登录成功" %}
                                <th scope="row"><span
                                        class="label label-success">{{ user_login_obj.isSuccess }}</span></th>
                            {% else %}
                                <th scope="row"><span
                                        class="label label-danger">{{ user_login_obj.isSuccess }}</span></th>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}