{% extends 'base/site-base.html' %}

{% block title %}
    FastWork - 修改密码
{% endblock %}

{% block css %}
    <style>
        .choose {
            border-left: 2px solid #f90 !important;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:transparent;font-weight: bold;">
                    个人中心
                </div>
                <div class="list-group" style="border-radius: 0">
                    <div>

                        <a href="{% url 'project:settings-invite-register' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">邀请注册</a>

                        <a href="{% url 'project:settings-change-password' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item choose">修改密码</a>

                        <a href="{% url 'project:settings-backup' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">打包项目</a>

                        <a href="{% url 'project:settings-users-unbind' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">项目设置</a>

                        <a href="{% url 'project:settings-delete' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">删除项目</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-pencil" aria-hidden="true"></i> 修改密码</div>
                <div class="panel-body">

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">原密码:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" placeholder="请输入原密码"
                                               name="password1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">新密码:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" placeholder="请输入新密码"
                                               name="password2">
                                        <span class="error-msg" style="color: red">{{ error }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="submit" class="btn btn-danger" value="确认修改" style="">
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}