{% extends 'base/site-base.html' %}

{% block title %}
    FastWork - 系统设置
{% endblock %}

{% block css %}
    <style>
        .choices {
            border-left: 2px solid #f90 !important;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:transparent;font-weight: bold;">
                    个人中心
                </div>
                <div class="list-group" style="border-radius: 0">
                    <div>
                        <a href="{% url 'project:settings-invite-register' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">邀请注册</a>

                        <a href="{% url 'project:settings-change-password' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">修改密码</a>

                        <a href="{% url 'project:settings-backup' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">打包项目</a>

                        <a href="{% url 'project:settings-users-unbind' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item choose">项目设置</a>

                        <a href="{% url 'project:settings-delete' %}?project_id={{ request.tracer.project.id }}"
                           class="list-group-item">删除项目</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-address-card-o" aria-hidden="true"></i> 个人中心</div>
                <div class="panel-body">
                    <h4 style="text-align: center;">系统设置</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}