{% extends 'base/site-base.html' %}
{% load static %}

{% block title %}
    FastWork - 主机实例信息
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'DataTables-1.10.15/media/css/dataTables.bootstrap.min.css' %}"/>
    <style>
        .content {
            height: calc(100vh - 120px);
            overflow: scroll;
            margin-left: -1px;
        }

        .yangshi {
            font-size: 13px;
        }

        .yanse {
            color: gray;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container-fluid content" style="margin-top: 20px">
        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="{% url 'project:list' %}" style="color: #337ab7">项目大厅</a></li>
                    <li><a href="{% url 'cmdb:cmdb-assets' %}?project_id={{ request.tracer.project.id }}"
                           style="color: #337ab7">资产管理</a></li>
                    <li>
                        <a href="{% url 'cmdb:cmdb-get-server-infos-intance-details' %}?project_id={{ request.tracer.project.id }}&q={{ macObj.mac }}"
                           style="color: #337ab7">{{ macObj.name }}</a></li>
                    <li class="active">实例详情</li>
                </ol>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-sm-12" style="">
                <div class="col-md-4">
                    <address>
                        <strong class="yangshi">主机名称：</strong><br>
                        <span class="yanse">{{ macObj.name }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">IP地址：</strong><br>
                        <span class="yanse">{{ macObj.ip }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">MAC地址：</strong><br>
                        <span class="yanse">{{ macObj.mac }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">操作系统：</strong><br>
                        <span class="yanse">{{ macObj.os }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">系统架构：</strong><br>
                        <span class="yanse">{{ macObj.arch }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">内存(MB)：</strong><br>
                        <span class="yanse">{{ macObj.mem }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">CPU(核)：</strong><br>
                        <span class="yanse">{{ macObj.cpu }}</span><br>
                    </address>

                </div>
                <div class="col-md-4">
                    <address>
                        <strong class="yangshi">序列号：</strong><br>
                        <span class="yanse">{{ macObj.sn }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">状态：</strong><br>
                        {% if macObj.remark == 1 %}
                            <span class="label label-success">运营中</span>
                        {% else %}
                            <span class="label label-danger">不可用</span>
                        {% endif %}
                    </address>

                    <address>
                        <strong class="yangshi">订购时间：</strong><br>
                        <span class="yanse">{{ macObj.purchase_time }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">过保时间：</strong><br>
                        <span class="yanse">{{ macObj.over_insurance_time }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">创建时间：</strong><br>
                        <span class="yanse">{{ macObj.created_time }}</span><br>
                    </address>
                    <address>
                        <strong class="yangshi">最新上报时间：</strong><br>
                        <span class="yanse">{{ macObj.last_time }}</span><br>
                    </address>

                    <address>
                        <strong class="yangshi">负责人：</strong><br>
                        <span class="yanse">{{ macObj.user }}</span><br>
                    </address>
                </div>

                <address>
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>磁盘</th>
                            <th>挂载点</th>
                            <th>大小(GB)</th>
                            <th>已使用(GB)</th>
                            <th>空闲(GB)</th>
                            <th>使用率</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for disk in data %}
                            <tr>
                                <td>{{ disk.name }}</td>
                                <td>{{ disk.mountpoint }}</td>
                                <td>{{ disk.total }}</td>
                                <td>{{ disk.used }}</td>
                                <td>{{ disk.free }}</td>
                                <td>{{ disk.percent }}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </address>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'DataTables-1.10.15/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#table_user').DataTable({
                "language": {
                    "processing": "处理中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "searchPlaceholder": "搜索...",
                    "url": "",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    },
                    "aria": {
                        paginate: {
                            first: '首页',
                            previous: '上页',
                            next: '下页',
                            last: '末页'
                        },
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    },
                    "decimal": "-",
                    "thousands": "."
                }
            });

            jQuery('#table_user').on('click', '.btn-resource-asset', function () {

                //获取id：jQuery(this).attr('data-id);
                var id = jQuery(this).data('id')
                reload_resource_chart(id);
                if (th === null) {
                    th = setInterval(function () {
                        reload_resource_chart(id);
                    }, 30 * 1000);
                }
                ;


                jQuery('.dialog-resource').modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                });
            });

            //魔态框关闭的时候
            jQuery('.dialog-resource').on('hidden.bs.modal', function (e) {
                console.log("close", th)
                if (th !== null) {
                    console.log("close", th)
                    clearInterval(th);
                    th = null;
                }
            });

        });
    </script>
{% endblock %}