{% extends 'base/without_project_base.html' %}
{% load static %}
{% block title %}
    用户管理
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'rbac/css/jquery.dataTables.min.css' %}">
    <link href="{% static 'layui/2.8.7/layui.css' %}" rel="stylesheet">
    <style>

        .content {
            height: calc(100vh - 120px);
            overflow: scroll;
            margin-left: -1px;
        }

        .damacontent {
            filter: blur(3px);
        }

        .choose {
            border-left: 2px solid #f90 !important;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container-fluid content" style="margin-top: 20px">

        <div class="col-sm-12">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="{% url 'project:list' %}"
                           style="color: #337ab7">首页</a></li>
                    <li class="active">权限中心</li>
                    <li class="active">用户管理</li>
                </ol>
            </div>
        </div>

        <div class="col-sm-12" style="">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="wrapper wrapper-content">

                                <div class="col-sm-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"
                                             style="background-color:transparent;font-weight: bold;">
                                            用户管理
                                        </div>
                                        <div class="list-group" style="border-radius: 0">
                                            <div>
                                                <a href="{% url 'rbac:user' %}"
                                                   class="choose list-group-item">用户管理</a>
                                                <a href="{% url 'rbac:menu' %}"
                                                   class="list-group-item">菜单管理</a>
                                                <a href="{% url 'rbac:structure' %}"
                                                   class="list-group-item">组织管理</a>
                                                <a href="{% url 'rbac:role' %}"
                                                   class="list-group-item">角色管理</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><i class="fa fa-address-card-o"
                                                                      aria-hidden="true"></i> 用户管理
                                        </div>
                                        <div class="panel-body">


                                            <div class="box-header" style="margin-bottom: 40px">
                                                <div class="btn-group pull-left">
                                                    <button type="button" id="btnRefresh"
                                                            class="btn btn-dropbox btn-sm">
                                                        <i class="glyphicon glyphicon-repeat"></i>刷新
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-left">&nbsp</div>
                                                <div class="btn-group pull-left">
                                                    <button type="button" id="btnCreate"
                                                            class="btn btn-primary btn-sm">
                                                        <i class="glyphicon glyphicon-plus"></i>新增
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-left">&nbsp</div>
                                                <div class="btn-group pull-left">
                                                    <button type="button" id="btnDelete"
                                                            class="btn btn-danger btn-sm">
                                                        <i class="glyphicon glyphicon-trash"></i>删除
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-left">&nbsp</div>
                                                <div class="btn-group pull-left">
                                                    <button type="button" id="btnEnable"
                                                            class="btn btn-success btn-sm">
                                                        <i class="glyphicon glyphicon-ok-circle"></i>启用
                                                    </button>
                                                    <button type="button" id="btnDisable"
                                                            class="btn btn-warning btn-sm">
                                                        <i class="glyphicon glyphicon-ban-circle"></i>禁用
                                                    </button>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label>用户状态：</label>
                                                            <select id="select" name="select"
                                                                    class="form-control">
                                                                <option style='text-align:center' value=''>
                                                                    -----所有-----
                                                                </option>
                                                                <option value="True">启用</option>
                                                                <option value="False">禁用</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <table id="dtbList" class="display" cellspacing="0" style="margin-top: 10px"
                                                   width="100%">
                                                <thead>
                                                <tr valign="middle">
                                                    <th><input type="checkbox" id="checkAll"></th>
                                                    <th>ID</th>
                                                    <th>姓名</th>
                                                    <th>性别</th>
                                                    <th>手机</th>
                                                    <th>邮箱</th>
                                                    <th>部门</th>
                                                    <th>职位</th>
                                                    <th>是否管理员</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'rbac/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'rbac/js/dataTables.const.js' %}"></script>
    <script src="{% static 'layui/2.8.7/layui.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#SYSTEM-BASIC').addClass('active');
            $('#SYSTEM-BASIC-USER').addClass('active');

        });
    </script>

    <script type="text/javascript">
        var oDataTable = null;
        $(function () {
            oDataTable = initTable();

            function initTable() {
                var oTable = $('#dtbList').DataTable($.extend(true, {},
                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                    {
                        ajax: {
                            "url": "{% url 'rbac:user-list' %}",
                            "data": function (d) {
                                d.select = $("#select").val();
                            }
                        },
                        columns: [
                            DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                            {
                                data: "id",
                                width: "5%",
                            },
                            {
                                data: "username",//parent
                                width: "10%",
                            },
                            {
                                data: "gender",
                                width: "10%",
                                render: function (data, type, row, meta) {
                                    if (data == 'male') {
                                        return "男";
                                    } else {
                                        return "女";
                                    }
                                }
                            },
                            {
                                data: "mobile",
                            },
                            {
                                data: "email",
                            },
                            {
                                data: "department__title",
                            },

                            {
                                data: "post",
                            },
                            {
                                data: "is_superuser",
                            },
                            {
                                data: "is_active",
                                render: function (data) {
                                    if (data == true) {
                                        return "启用";
                                    } else {
                                        return "禁用";
                                    }
                                }
                            },
                            {
                                data: "id",
                                width: "18%",
                                bSortable: "false",
                                render: function (data, type, row, meta) {
                                    var ret = "";
                                    var ret = "<button title='详情-编辑' onclick='doUpdate("
                                        + data + ")'><i class='btn btn-sm glyphicon glyphicon-pencil'></i></button>";
                                    ret = ret + "<button name='btnChangepasswd' title='修改密码' onclick='doChangepasswd("
                                        + data + ")'><i class='btn btn-sm glyphicon glyphicon-asterisk'></i></button>";
                                    ret = ret + "<button name='btnConfig' title='删除' onclick='doDelete("
                                        + data + ")'><i class='btn btn-sm glyphicon glyphicon-trash'></i></button>";
                                    return ret;
                                }
                            }],
                        "order": [
                            [2, 'desc']
                        ],
                    }));
                return oTable;
            }

            //checkbox全选
            $("#checkAll").on("click", function () {
                if ($(this).prop("checked") === true) {
                    $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                    $('#example tbody tr').addClass('selected');
                } else {
                    $("input[name='checkList']").prop("checked", false);
                    $('#example tbody tr').removeClass('selected');
                }
            });

            $("#btnRefresh").click(function () {
                window.location.reload();
            })

            $("#btnCreate").click(function () {
                layer.open({
                    type: 2,
                    title: '新增',
                    shadeClose: false,
                    maxmin: true,
                    area: ['800px', '650px'],
                    content: '{% url 'rbac:user-create' %}',
                    end: function () {
                        //关闭时做的事情
                        oDataTable.ajax.reload();
                    }
                });
            });

            $("#btnRefresh").click(function () {
                oDataTable.ajax.reload();
            });

            //批量删除
            $("#btnDelete").click(function () {
                if ($("input[name='checkList']:checked").length == 0) {
                    layer.msg("请选择要删除的记录");
                    return;
                }

                var arrId = new Array();
                $("input[name='checkList']:checked").each(function () {
                    //alert($(this).val());
                    arrId.push($(this).val());
                });

                sId = arrId.join(',');

                layer.alert('确定删除吗？', {
                    title: '提示'
                    , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                    , time: 0 //不自动关闭
                    , btn: ['YES', 'NO']
                    , yes: function (index) {
                        layer.close(index);
                        $.ajax({
                            type: "POST",
                            url: "{% url 'rbac:user-delete' %}",
                            data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                            cache: false,
                            success: function (msg) {
                                if (msg.result) {
                                    layer.alert("操作成功");
                                    oDataTable.ajax.reload();
                                } else {
                                    //alert(msg.message);
                                    layer.alert("操作失败");
                                }
                                return;
                            }
                        });
                    }
                });
            });


            //批量启用
            $("#btnEnable").click(function () {
                if ($("input[name='checkList']:checked").length == 0) {
                    layer.msg("请选择要启用的用户");
                    return;
                }

                var arrId = new Array();
                $("input[name='checkList']:checked").each(function () {
                    //alert($(this).val());
                    arrId.push($(this).val());
                });

                sId = arrId.join(',');

                layer.alert('确定启用吗？', {
                    title: '提示'
                    , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                    , time: 0 //不自动关闭
                    , btn: ['YES', 'NO']
                    , yes: function (index) {
                        layer.close(index);
                        $.ajax({
                            type: "POST",
                            url: "{% url 'rbac:user-enable' %}",
                            data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                            cache: false,
                            success: function (msg) {
                                if (msg.result) {
                                    layer.alert("启用用户成功", {icon: 1});
                                    oDataTable.ajax.reload();
                                } else {
                                    //alert(msg.message);
                                    layer.alert("启用用户失败", {icon: 5});
                                }
                                return;
                            }
                        });
                    }
                });
            });

            //批量禁用
            $("#btnDisable").click(function () {
                if ($("input[name='checkList']:checked").length == 0) {
                    layer.msg("请选择要禁用的用户");
                    return;
                }

                var arrId = new Array();
                $("input[name='checkList']:checked").each(function () {
                    //alert($(this).val());
                    arrId.push($(this).val());
                });

                sId = arrId.join(',');

                layer.alert('确定禁用吗？', {
                    title: '提示'
                    , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                    , time: 0 //不自动关闭
                    , btn: ['YES', 'NO']
                    , yes: function (index) {
                        layer.close(index);
                        $.ajax({
                            type: "POST",
                            url: "{% url 'rbac:user-disable' %}",
                            data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                            cache: false,
                            success: function (msg) {
                                if (msg.result) {
                                    layer.alert("禁用用户成功", {icon: 1});
                                    oDataTable.ajax.reload();
                                } else {
                                    //alert(msg.message);
                                    layer.alert("禁用用户失败", {icon: 5});
                                }
                                return;
                            }
                        });
                    }
                });
            });

            $("#select").change(function () {
                //alert($("#select").val())
                oDataTable.ajax.reload();
            });


        });

        // 跳转到用户详情页面
        function doUpdate(id) {
            layer.open({
                type: 2,
                title: '编辑',
                closeBtn: 1,
                shadeClose: true,
                maxmin: true,
                area: ['800px', '650px'],
                content: ["{% url 'rbac:user-detail' %}" + '?id=' + id, 'no'],
                end: function () {
                    oDataTable.ajax.reload();
                }
            });
        }

        // 跳转到用户密码修改
        function doChangepasswd(id) {
            layer.open({
                type: 2,
                title: '编辑',
                closeBtn: 1,
                shadeClose: false,
                maxmin: true,
                area: ['800px', '650px'],
                content: ["{% url 'rbac:user-adminpasswdchange' %}" + '?id=' + id, 'no'],
                end: function () {
                    oDataTable.ajax.reload();
                }
            });
        }

        //删除单个用户
        function doDelete(id) {
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'rbac:user-delete' %}",
                        data: {"id": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert(msg.message, {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                //alert(msg.message);
                                layer.alert('删除失败', {icon: 5});
                            }
                            return;
                        }
                    });
                }
            });

        }

    </script>
{% endblock %}